.bg-blue{
    color: #ffffff;
    background: rgb(22, 95, 190) !important;
}

.list-group-item-blue{
    color: #ffffff;
    background-color: #165fbe !important;
}

.text-blue{
    color: #114c99 !important;
}
.text-mixto {
    background-color: #fff75e;
    background-image: linear-gradient(15deg, #fff75e, #f30c80);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
